@import '../../assets/styles/variables';

.home-conatiner{
  margin-top:10px;

  @keyframes flasher {
    from {
      transition: transform 0.2s ease-in-out;
      transform: translateX(0);
    }
    to {
      transition: transform 0.2s ease-in-out;
      transform: translateX(10px);
    }
  }

  .flasher {
    animation: flasher 0.5s;
  }
  .common-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .all-tools-col-1{
    margin-left:20px;
  }

  .alltools-active{
    background-color: teal;
    padding: 10px  0px 10px 0px;
    border-radius:18px;
    cursor:pointer;
    animation-duration: 2s;
  }

  .alltools-inactive{
    padding: 10px  0px 10px 0px;
    cursor:pointer;
    animation-duration: 2s;
  }

  .alltools-image{
    text-align: right;
    padding-right:10px;
  }

  .alltools-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
  }

  .alltools-text-active{
    color:#ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
  }

  .alltoolsrow{
    background:#fff;
    border-radius:22px;
    border:1px solid rgb(218, 218, 218);
    margin-top:70px;
    padding:15px 0px 15px 0px;
    
  }

  .alltoolsrow-row{
    width:80%;
  }

  .tagline{
    color:#fff;
    background:teal;
    display: block;
    // width:200px;
    border:1px solid grey;
    padding: 5px;
    transition: all 0.3s;
    margin-left:10px;
    margin-right: 10px;
  }

  .header-text{
    font-size: 2.5rem;
    line-height: 1.1;
    color: "#000";
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 900;
  }

  .header-content-text{
    font-size: 1.3rem;
    line-height: 1.5;
    color: $text-color;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 600;
    margin-top: 0.5rem!important;
  }

  .icon-div{
    font-size: 4rem;
    padding: 1.2rem!important;
    box-shadow: $box-shadow;
    margin: 0 0.3rem!important;
    transition: all 0.3s;
    line-height: 1;
    width:95px;
    img{
      width:100%
    }
  }

  .icon-card{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .feature-header{
    margin-top:10px;
    color: $text-color-header;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.5;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .feature-desc{
    color: $text-color;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
  }

  .card-container{
    display: flex;
    justify-content: center;
    box-shadow: $box-shadow;
    background: $background-color;
    border-radius: 3rem !important;
  }

  .feature-container-list{
    margin-top:50px;
    margin-bottom:20px;
  }

  .col-tools-list{
    background:#fff;
    border-radius:12px;
    padding:20px 20px 20px 20px;
    margin-top:20px;
    cursor:pointer;
  }

  .list-icon-container{
    background: #a5bfa5;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;

  }

  .toolstitle{
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.005em;
    margin-bottom: 2px;
    margin-top: 0;
    font-weight: 600;
    color: #181D20;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }

  .toolssubtitle{
    color: #F66213;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.005em;
    text-align: left;
  }

  .toolsdesc{
    font-size: 14px;
    margin-top: 15px;
    text-align: left;
    padding-bottom: 20px;
  }

  .row-head-tools{
    margin-left: 20px;
  }

}